table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead tr th,
tfoot tr td {
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

thead tr th div,
tfoot tr td div {
  position: absolute;
  color: #fff;
  padding: 10px;
  margin-left: -10px;
  line-height: normal;
  width: 100%;
  z-index: 2;
  text-align: left;
  font-weight: bold;
}

thead tr th div {
  top: 0;
}

tfoot tr td div {
  bottom: 0;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1976D2;
  color: white;
}

.shadow{
  box-shadow: 0 4px 2px -2px grey;
}

.footer {
  background-color: #ddd;
  text-align: center !important;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.wrapper {
  width: 100%;
  position: relative;
  background: #efefef;
  overflow: hidden;
  border-radius: 7px;
}

.container {
  overflow-y: scroll;
  height: 200px;
  border-top: 41px solid transparent;
  border-bottom: 41px solid transparent;
}

.pagination {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.pagination li {
  color: black;
  list-style-type: none;
  float: left;
  padding: 0px 6px;
  text-decoration: none;
  cursor: pointer;
}

.pagination li.active {
  background-color: #00BCD4;
  color: white;
  border-radius: 5px;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.numOfRowTxt {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}
.numOfRowContainer{
    margin: 4px 4px 24px 0;
}