<div class="numOfRowContainer">
  <span class="numOfRowTxt">Number of rows: </span>
  <select [(ngModel)]="numberOfRows" (change)="onOptionChange($event.target.value)" name="numberOfRows">
    <option *ngFor="let numOfRowOption of numOfRowOptions" [ngValue]="numOfRowOption">{{numOfRowOption}}</option>
  </select>
</div>
<div class="wrapper">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let item of headerItems; first as isFirst">
            <div class="header" [class.shadow]="isFirst">
              {{item}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedItems">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.company}}</td>
          <button (click)="sendRowData(item.id,item.status)">Submit ID "{{item.id}}" and row status "{{item.status}}"</button>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <div class="footer">
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </td>

        </tr>
      </tfoot>
    </table>
  </div>
</div>